USE [master]
GO
/****** Object:  Database [simrs]    Script Date: 14/01/2024 23:38:15 ******/
CREATE DATABASE [simrs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'simrs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\simrs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'simrs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\simrs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [simrs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [simrs]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14/01/2024 23:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[password] [binary](64) NOT NULL,
	[salt] [uniqueidentifier] NOT NULL,
	[default_role] [varchar](15) NOT NULL,
	[email] [varchar](150) NULL,
	[nomor_hp] [varchar](50) NULL,
	[nama_lengkap] [varchar](150) NULL,
	[jk] [char](1) NOT NULL,
	[tempat_lahir] [varchar](100) NULL,
	[tanggal_lahir] [date] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_email] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_nomor_hp] UNIQUE NONCLUSTERED 
(
	[nomor_hp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_jk]  DEFAULT ('L') FOR [jk]
GO
/****** Object:  StoredProcedure [dbo].[uspAddUser]    Script Date: 14/01/2024 23:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspAddUser]
    @pUsername VARCHAR(150), 
    @pPassword VARCHAR(50), 
    @pDefaultRole VARCHAR(15), 
    @pEmail VARCHAR(150),
	@pNomorHP VARCHAR(50),
	@pNamaLengkap VARCHAR(150),
	@pJK CHAR(1),
	@pTempatLahir VARCHAR(100),
	@pTanggalLahir VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON
	DECLARE @salt UNIQUEIDENTIFIER=NEWID()
    BEGIN TRY

        INSERT INTO dbo.[users] (username, "password", salt, default_role, email, nomor_hp, nama_lengkap, jk, tempat_lahir, tanggal_lahir, created_at, updated_at)
        VALUES(@pUsername, HASHBYTES('SHA2_512', @pPassword+CAST(@salt AS NVARCHAR(36))), @salt, @pDefaultRole, @pEmail, @pNomorHP, @pNamaLengkap, @pJK, @pTempatLahir, @pTanggalLahir, GETDATE(), GETDATE())

    END TRY
    BEGIN CATCH
        
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[uspLogin]    Script Date: 14/01/2024 23:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspLogin]
    @pUsername NVARCHAR(254),
    @pPassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    DECLARE @id INT

    IF EXISTS (SELECT TOP 1 id FROM [dbo].[users] WHERE username=@pUsername)
    BEGIN
        SET @id=(SELECT id FROM [dbo].[users] WHERE username=@pUsername AND "password"=HASHBYTES('SHA2_512', @pPassword+CAST(salt AS NVARCHAR(36))))

       IF(@id IS NULL)
           SET @responseMessage=0
       ELSE 
           SET @responseMessage=1
    END
    ELSE
       SET @responseMessage=0

END
GO
USE [master]
GO
